@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans' , sans-serif;

}
/*.html{
    font-size: 62.5%;
}*/
.logo{
    padding-left: 10px;
    width: 300px;
    height: 90px;
}
.header{
padding: 0 0rem;
height: 5.5rem;
display: flex;
justify-content: space-between;
align-items: center;
background-color: #011e33;
padding-right: 10px;
}

.navbar-list{
    display: flex;
    gap: 4rem;
    list-style: none;
    justify-items: center;
}
.navbar-link:link,
.navbar-link:visited{
    display: inline-block;
    text-transform: uppercase;
    text-decoration:none ;
    font-size: 1rem;
    font-weight: 500;
    color: #e0eaf3;
    transition: all 0.3s;

}
.navbar-link:hover,
.navbar-link:active{
    color: #364fc7;
}

.section-hero,
.section-services{
    background-image: url(wall.jpg);
    padding: 9.6rem 0;
    background-color: #a5d8ff;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items:center ;
}


.section-services{
    background: #f3f0ff;
}
.section-hero p,
.section-services p{
    font-size: 3.2rem;
}
.section-footer{
    /*padding: 9.6rem 0;*/
    background-color: #a5d8ff;
    height: 52vh;
    display: flex;
    flex-direction: column;

}
.section-footer{
    background: #1b1a1a;
}
.section-footer img{
    padding-left: 20px;
    padding-top: 20px;
    width: 250px;
    height: 100px;
}
.section-footer div{
    padding-top:10px ;
    padding-left:20px ;   
    font-size: 20px;
    display: flex;
}
.section-footer p{
    padding-top:15% ;
    justify-items: left;
    font-size: 20px;

}
.footer {

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #325add;
    color: white;
    text-align: center;
  }
  
  .box1 img {
    height: 34px;
    max-width: 100%;
    vertical-align: middle;
    width: 72%;
    margin-top: 10%;
  }
  
  .box2 img {
    width: 250px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 2%;
  }
  
  .box3 ul li {
    display: inline-block;
    margin-top: 15%;
    padding: 0px 15px 0 0px;
  }
  
  .footer-mail {
    margin-right: 22%;
  }
  
  .footer-mail input {
    background-color: #325add;
    border: 0 solid;
  }
  
  .copyright {
    color: #c2d0eb;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.8em;
    width: 100%;
    text-align: center;
  }
  
  .terms {
    color: #c2d0eb;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.8em;
    width: 100%;
    text-align: center;
    margin-top: 5%;
  }
  
  /* Footer */
  
  .feature-work-img img{
    width: 82%;
    margin-left: 23%;
  }
  
  .feature-work-content h5{
    margin-top: 12%;
      margin-left: 10%;
  }
  
  .feature-work-content p{
    width: 70%;
      margin-left: 10%;
  }